@model Garduino.Models.Code

@{
    ViewData["Title"] = "Create a code";
}



<hr />
<div class="jumbotron">
    <div class="page-header">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" asp-route-deviceId="@ViewData["deviceId"]" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Action" class="control-label"></label>
                    <input asp-for="Action" class="form-control"/>
                    <span asp-validation-for="Action" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ActionName" class="control-label"></label>
                    <input asp-for="ActionName" class="form-control"/>
                    <span asp-validation-for="ActionName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success"/>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Quick create</h3>
            <hr/>
            <a class="btn btn-warning" asp-action="CreateGlobalLock" asp-route-deviceId="@ViewData["deviceId"]">Global Lock on/off</a>
            <a class="btn btn-success" asp-action="CreateMeasure" asp-route-deviceId="@ViewData["deviceId"]">Measure</a>
            <a class="btn btn-info" asp-action="CreateLightAdmin" asp-route-deviceId="@ViewData["deviceId"]">Light Admin on/off</a>
            <a class="btn btn-info" asp-action="CreateHeatAdmin" asp-route-deviceId="@ViewData["deviceId"]">Heat Admin on/off</a>
            <a class="btn btn-primary" asp-action="CreateLightState" asp-route-deviceId="@ViewData["deviceId"]">Lights on/off</a>
            <a class="btn btn-primary" asp-action="CreateHeatState" asp-route-deviceId="@ViewData["deviceId"]">Heating on/off</a>
            <a class="btn btn-default" asp-action="CreatePrintTime" asp-route-deviceId="@ViewData["deviceId"]">Print time</a>
        </div>
    </div>

    <div>
        <a asp-action="Index"asp-route-deviceId="@ViewData["deviceId"]">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</div>
