@using Chart = ChartJSCore.Models.Chart
@model IEnumerable<Garduino.Models.Code>

@{
    ViewData["Title"] = "Active codes";
}

@section Scripts
{
    
    <script type="text/javascript">
        $(document).ready(function() {
            function refreshPartial() {
                //this will wait 3 seconds and then fire the load partial function
                setTimeout(function() {
                        loadPartialView();
                        //recall this function so that it will continue to loop
                        refreshPartial();
                    },
                    3000);
            }

            //initialize the loop
            refreshPartial();
        });

        function loadPartialView() {
            var datum = "{\"deviceId\":\"@ViewData["deviceId"]\",\"searchString\":\"@ViewData["searchInput"]\"}";
            $.ajax({
                url: '@Url.Action("GetActiveAjax", "Code")',
                type: 'post',
                cache: false,
                async: true,
                contentType: "application/json; charset=utf-8",
                data: datum,
                success: function(result) {
                    $('#codes').html(result);
                },
                error: function(req, err) {
                    console.log(err)
                    $('#codes').html("error.");
                }
            });
        }
    </script>
}

<div class="jumbotron">
    <div class="page-header">
        <h2>
            @ViewData["Title"] <small>&nbsp;Your active codes, in one place!<a class="btn btn-primary pull-right" asp-action="Create" asp-route-deviceId="@ViewData["deviceId"]">Add a code</a></small>
        </h2>
    </div>
    <div id="graphs">
        @await Html.PartialAsync("Graphs", new List<Chart> { (ChartJSCore.Models.Chart)ViewData["freq"], (ChartJSCore.Models.Chart)ViewData["compl"] })
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="container">
                <a asp-action="All" class="btn btn-default" asp-route-deviceId="@ViewData["deviceId"]">See all</a>
            </div>
        </div>
        <div class="col-md-11">
            @await Html.PartialAsync("Search", "Index")
        </div>
    </div>

    <div id="codes">
        @await Html.PartialAsync("ActiveCodesPartial", Model)
    </div>


</div>

