@model Garduino.Models.Entry

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="jumbotron">
    <h2>@ViewData["Title"]<small style="margin-left: 25px"> Are you sure?</small></h2>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocalDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocalDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoilMoisture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoilMoisture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoilDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoilDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AirHumidity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AirHumidity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AirTemperature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AirTemperature)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LightState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LightState)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-action="Index" asp-route-deviceId="@ViewData["deviceId"]">Back to List</a>
    </form>
</div>
