@model Garduino.Models.Measure

@{
    ViewData["Title"] = "Entry details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="page-header">
        <h2>
            @ViewData["Title"]
            <a class="btn btn-warning pull-right" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </h2>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoilMoisture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoilMoisture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoilDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoilDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AirHumidity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AirHumidity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AirTemperature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AirTemperature)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LightState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LightState)
        </dd>
        <dt>

        </dt>
        <dd>

        </dd>
    </dl>

    <a asp-action="Index" asp-route-deviceId="@ViewData["deviceId"]">Back to List</a>
</div>
<div>
</div>
