@model Garduino.Models.Device

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="jumbotron">
    <div class="page-header">
        <h2>
            @ViewData["Title"]
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning pull-right">Edit</a>
        </h2>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GlobalLock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GlobalLock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Logging)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Logging)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Written)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Written)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsInitialised)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsInitialised)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LightState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LightState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LightAdmin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LightAdmin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeatState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeatState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeatAdmin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeatAdmin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WaterState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WaterState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WaterAdmin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WaterAdmin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodeFetch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodeFetch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NetReconf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetReconf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntryCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntryCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodeCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodeCount)
        </dd>
    </dl>
    <a asp-action="Index">Back to List</a>
</div>