@model IEnumerable<Garduino.Models.Device>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="page-header">
        <h2>
            My Devices <small>&nbsp;All your devices, in one place!<a class="btn btn-primary pull-right" asp-controller="Device" asp-action="Create">Create a device</a></small>
        </h2>
    </div>
    <br />
    <ul class="list-group">
        @foreach (var item in Model)
        {

        <li class="list-group-item">
            <div class="pull-right">
                <a asp-action="SendToEntry" asp-route-deviceId="@item.Id"><span class="badge">Entries @item.EntryCount</span></a>
                <a asp-action="SendToCode" asp-route-deviceId="@item.Id"><span class="badge">Codes @item.CodeCount</span></a>
                <a asp-action="Edit" asp-route-id="@item.Id"><span style="margin-left: 15px;"class="label label-info">Edit</span></a>
                <a asp-action="Details" asp-route-id="@item.Id"><span class="label label-warning">Details</span></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><span class="label label-danger">Delete</span></a>
            </div>
            @Html.DisplayFor(model => item.Name)
        </li>
        
    }
    </ul>
</div>